body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* -------------------header------------------ */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  max-width: 80vw;
  color: #103b6b;
}

.logo {
  width: 4vw;
  height: auto;
}

.contact {
  display: flex;
  align-items: center;
}

.inquiry {
  width: 15vw;
  height: auto;
  margin-top: 5px;
}

.phone {
  width: 2vw;
  height: auto;
  margin-left: 10px;
}

.tel {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #103b6b;
  margin-left: 5px;
}

.tel a {
  color: inherit;
}

/* -----------------main-visual1------------- */

.main-visual1 {
  position: relative;
  width: 100%;
  aspect-ratio: 1906.4/804.68;
}

.image1 {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image2 {
  position: absolute;
  width: 28vw;
  left: 34%;
  bottom: 2%;
}

/* -----------------main-visual2------------- */

.main-visual2 {
  position: relative;
  background-image: url(img/アセット\ 541@4x.png);
  width: 100%;
  background-size: cover;
}

.image3 {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image3-1 {
  display: none;
}

.higai {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.man-img {
  position: absolute;
  width: 15vw;
  height: auto;
  bottom: 0;
  left: 14%;
}

.woman-img {
  position: absolute;
  height: 18vw;
  bottom: 0;
  right: 15%;
}

.main-visual2-text {
  text-align: center;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.mv2-text1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 2vw;
  margin: 0;
}

.yellow {
  color: #fbe800;
}

.mv2-highlight {
  color: #fbe800;
  font-weight: bold;
  font-size: 3vw;
}

.mv2-br-sp {
  display: none;
}

.char {
  position: relative;
  display: inline-block;
  color: #fbe800;
  font-weight: bold;
}

.char::before {
  content: "・";
  position: absolute;
  top: -0.8em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7em;
}

.warning-icon1,
.warning-icon2 {
  width: 3vw;
  height: auto;
  vertical-align: middle;
  margin-top: 5px;
}

.mv2-bubble {
  width: 40vw;
  max-width: 95%;
  background-color: #ffffff;
  padding: 5px 25px;
  font-weight: bold;
  text-align: center;
  margin: 0, auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.mv2-bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.mv2-text2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  color: #103b6b;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.image4 {
  width: 30vw;
  height: auto;
}

/* -----------------main-visual3------------- */

.main-visual3 {
  width: 100%;
  background-image: url(img/アセット\ 538@4x.png);
  background-size: cover;
  text-align: center;
}

.image5 {
  width: 6vw;
  height: auto;
  margin-top: 5vw;
}

.mv3-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #103b6b;
  font-size: 2.5vw;
  margin-top: 0.1vw;
}

.mv3-br-sp{
  display: none;
}

.mv3-highlight {
  font-size: 3vw;
  color: #3698d0;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #3698d0;
  text-underline-offset: 0.2em;
}

.mv3-figure {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0vw;
  margin: 0 19vw;
  margin-top: 3vw;
}

.mv3-box,
.mv3-box-sp-large {
  background-color: white;
  padding: 1.5vw 1vw;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  flex: 1 1 calc(25% - 15px);
  box-sizing: border-box;
}

.mv3-box-image {
  width: 8vw;
  height: auto;
}

.mv3-box-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: #103b6b;
  margin-bottom: 0;
  position: relative;
  margin-top: 1.7vw;
  border-bottom: 0.2vw solid #103b6b;
  padding-bottom: 0.5vw;
}

.mv3-box-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 0.8vw;
  text-align: left;
  margin-bottom: 0.1vw;
}

.mv3-blue {
  color: #3698d0;
}

.mv3-box-quote {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 0.7vw;
  margin-top: 0;
  text-align: left;
}

.image6 {
  width: 30vw;
  height: auto;
  margin: 2.5vw 0;
}

/* -----------------main-visual4------------- */

.main-visual4 {
  text-align: center;
  background-color: white;
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 1.5vw 1.5vw;
}

.image7 {
  width: 6vw;
  height: auto;
  margin-top: 3.5vw;
  margin-bottom: 0;
}

.mv4-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  color: #103b6b;
  margin-top: 0;
}

.mv4-br-sp {
  display: none;
}

.mv4-blue {
  font-size: 3vw;
  color: #3698d0;
}

.mv4-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  margin: 1vw 15vw 0;
}

.mv4-box {
  text-align: left;
  position: relative;
  width: calc(50% - 20px);
  height: 27vw;
  box-sizing: border-box;
}

.mv4-box:nth-child(2),
.mv4-box:nth-child(4) {
  margin-top: 5vw;
}

.mv4-box-image {
  width: 30vw;
  height: auto;
}

.point {
  position: absolute;
  top: 51%;
  left: 8%;
  display: inline-block;
  padding: 0 0.5vw;
  border: 0.1vw solid #103b6b;
  border-radius: 4px;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: white;
  color: #103b6b;
}

.point::after {
  content: "";
  position: absolute;
  bottom: -0.7vw;
  left: 1vw;
  width: 0;
  height: 0;
  border-width: 0.7vw 0 0 0.7vw;
  border-style: solid;
  border-color: #103b6b transparent transparent transparent;
}

.large {
  font-size: 2.5vw;
  margin-left: 0.5vw;
}

.mv4-box-title {
  text-align: left;
  margin-left: 3.5vw;
  margin-top: 1vw;
  margin-bottom: 0;
  color: #103b6b;
  font-size: 1.8vw;
  font-weight: bold;
}

.mv4-box-text {
  font-size: 0.9vw;
  text-align: left;
  margin: 0.3vw 3.5vw 0;
}

.mv4-red {
  color: #f3531e;
}

.mv4-box-note {
  font-size: 0.7vw;
  text-align: left;
  margin-top: 0;
  margin-left: 3.5vw;
}

.image8 {
  width: 30vw;
  height: auto;
  margin: 2vw 0;
}

/* -----------------main-visual5------------- */

.main-visual5 {
  text-align: center;
  background-color: #cde7f5;
  background-image:url('img/アセット\ 499@4x.png');
  background-size: 100% 100%
}

.image9 {
  width: 5.5vw;
  height: auto;
  margin-top: 5%;
}

.mv5-title {
  color: #103b6b;
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 0;
}

.mv5-br-sp {
  display: none;
}

.mv5-blue {
  font-size: 3.5vw;
  color: #3698d0;
}

.mv5-category {
  width: 61vw;
  display: flex;
  margin: 0 18.5vw;
}

.mv5-top-category {
  display: flex;
  width: 36.6vw;
  gap: 0.3vw;
  margin-right: 0.3vw;
}

.mv5-bottom-category {
  display: flex;
  width: 24.4vw;
  gap: 0.3vw;
}

.mv5-bubble {
  width: 55vw;
  max-width: 90%;
  background-color: white;
  padding: 1vw 0;
  font-weight: bold;
  text-align: center;
  margin: 0, auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mv5-bubble-highlight {
  width: 55vw;
  max-width: 90%;
  background-color: #103b6b;
  color: white;
  padding: 1vw 0;
  font-weight: bold;
  text-align: center;
  margin: 0, auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.mv5-bubble-highlight::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.8vw 0.5vw 0 0.5vw;
  border-style: solid;
  border-color: #103b6b transparent transparent transparent;
}

.mv5-bubble-title,
.mv5-bubble-title1 {
  color: #103b6b;
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.mv5-white {
  color: white;
}

.mv5-container {
  display: flex;
  display: none;
  position: relative;
  background-color: white;
  margin: 2.5vw 18.5vw;
  padding: 3vw 2.5vw;
  border-radius: 0.8vw;
  gap: 1.5vw;
}

.mv5-container.active {
  display: flex;
}

.mv5-container-box {
  display: flex;
  gap: 1.5vw;
}

.mv5-box {
  position: relative;
  background-color: #f0f0f0;
  width: 13.5vw;
  height: 17.5vw;
  border-bottom-left-radius: 0.6vw;
  border-bottom-right-radius: 0.6vw;
}

.before {
  color: white;
  background-color: #2d2d35;
  margin: 0;
  padding: 0.2vw 0;
  font-weight: bold;
  font-size: 1.7vw;
}

.mv5-before-text {
  color: #103b6b;
  padding: 0.7vw 1vw;
  text-align: left;
  font-size: 0.9vw;
  font-weight: bold;
  margin-bottom: 2.3vw;
}

.rating-average {
  position: absolute;
  bottom: 10%;
  left: 6%;
  width: 12vw;
  height: 5vw;
  background-color: white;
  padding-top: 1vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 0.4vw;
}

.rating-average-title {
  color: #103b6b;
  font-size: 1vw;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.4vw;
}

.image10 {
  width: 8vw;
  height: auto;
  margin-bottom: 0.4vw;
}

.image11 {
  position: absolute;
  width: 4.5vw;
  height: auto;
  top: 35%;
  left: -23%;
}

.after {
  color: white;
  background-color: #008dc7;
  margin: 0;
  padding: 0.2vw 0;
  font-weight: bold;
  font-size: 1.7vw;
}

.dotted-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 9.5vw;
  height: 3vw;
  justify-content: center;
  margin: 2vw auto 0;
  background-image: repeating-linear-gradient(90deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw), repeating-linear-gradient(180deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw), repeating-linear-gradient(90deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw), repeating-linear-gradient(180deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw);
  background-position: left top, right top, left bottom, left top;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
}

.image12 {
  width: 1.4vw;
  height: auto;
}

.mv5-after-text {
  color: #103b6b;
  font-size: 1vw;
  font-weight: bold;
}
 
.mv5-content {
  margin: 0;
  text-align: left;
}

.mv5-content-box {
  width: 25vw;
}

.achievement-data-title {
  margin: 0;
  padding-bottom: 0.2vw;
  color: #103b6b;
  font-size: 1.3vw;
  font-weight: bold;
  border-bottom: 1px solid #103b6b;
  text-indent: 1vw;
  letter-spacing: 0.1em;
}

.achievement-data-text {
  margin: 0.5vw 0;
  font-size: 0.9vw;
}

.last-year-comparison {
  margin: 0;
  font-size: 0.6vw;
}

.deleted-review-title {
  margin-top: 1.5vw;
  margin-bottom: 0;
  padding-bottom: 0.2vw;
  color: #103b6b;
  font-size: 1.3vw;
  font-weight: bold;
  border-bottom: 1px solid #103b6b;
  text-indent: 1vw;
  letter-spacing: 0.1em;
}

.deleted-review-box {
  display: flex;
  align-items: center;
  gap: 0.2vw;
  margin-bottom: 1.15vw;
  padding-bottom: 0;
}

.deleted-review-box1 {
  display: flex;
  align-items: center;
  gap: 0.2vw;
  margin-bottom: 0;
  padding-bottom: 0;
}

.image13 {
  width: 1.3vw;
  margin-top: 1.2vw;
}

.image13-1 {
  width: 1.3vw;
  margin-top: 0;
}

.deleted-review-text {
  font-size: 0.8vw;
  margin-bottom: 0;
}

.image14 {
  width: 30vw;
  height: auto;
  margin: 0;
  margin-bottom: 2vw;
}

/* -----------------main-visual6------------- */

.main-visual6 {
  background-color: #3c82cf;
  background-image: url(img/アセット\ 7@4x.png);
  background-size: cover;
  background-position: center -15vw;
  background-repeat: no-repeat;
  text-align: center;
}

.image15 {
  width: 5.5vw;
  margin-top: 5vw;
}

.mv6-title {
  color: white;
  font-size: 2.5vw;
  margin: 0;
  margin-bottom: 2vw;
}

.mv6-highlight {
  color: #fbe800;
  font-size: 3.5vw;
}

.mv6-yellow {
  color: #fbe800;
}

.mv6-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  gap: 1vw;
  justify-content: center;
}

.mv6-box {
  position: relative;
  background-color: white;
  width: 14vw;
  height: 22vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mv6-arrow-right1 {
  position: absolute;
  width: 3vw;
  top: 35%;
  left: 33%;
}

.mv6-arrow-right2 {
  position: absolute;
  width: 3vw;
  top: 35%;
}

.mv6-arrow-right3 {
  position: absolute;
  width: 3vw;
  top: 35%;
  right: 33%;
}

.mv6-arrow-right1-sp,
.mv6-arrow-right2-sp,
.mv6-arrow-right3-sp {
  display: none;
}

.mv6-box-top {
  position: relative;
  width: 100%;
  height: 10vw;
  margin: 0;
}

.mv6-num {
  position: absolute;
  color: #103b6b;
  font-size: 2.5vw;
  margin: 0;
  top: -5%;
  left: 5%;
}

.mv6-box-img {
  position: absolute;
  width: 13vw;
  height: 9vw;
  top: 10%;
  right: 4%;
  z-index: 5;
}

.mv6-box-img1 {
  position: absolute;
  width: 9vw;
  top: 35%;
  left: 20%;
  z-index: 10;
}

.mv6-box-img2 {
  position: absolute;
  width: 4.5vw;
  top: 25%;
  left: 40%;
  z-index: 10;
}

.mv6-box-img3 {
  position: absolute;
  width: 5vw;
  height: auto;
  top: 15%;
  left: 40%;
  z-index: 10;
}

.mv6-box-img4 {
  position: absolute;
  width: 9vw;
  height: auto;
  top: 35%;
  left: 20%;
  z-index: 10;
}

.mv6-box-title {
  color: #103b6b;
  font-size: 1.3vw;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
}

.mv6-box-text {
  font-size: 1vw;
  margin: 0 1.5vw;
  text-align: left;
}

.mv6-br-sp {
  display: none;
}

.mv6-box-bottom {
  position: absolute;
  display: flex;
  width: 80%;
  height: 2vw;
  bottom: 3%;
  left: 10%;
}

.time-required {
  background-color: #103b6b;
  color: white;
  width: 8vw;
  font-size: 0.8vw;
  margin: 0;
  padding: 0.3vw;
}

.time {
  background-color: #cde7f5;
  width: 100%;
  font-size: 0.8vw;
  margin: 0;
  padding: 0.3vw;
}

.image16 {
  width: 25vw;
  margin: 2vw auto;
}

/* -----------------main-visual7------------- */

.main-visual7 {
  background-color: white;
  background-image: url(img/アセット\ 6@4x.png);
  background-size: 100vw auto;
  background-position: center 45vw;
  background-repeat: no-repeat;
  height: 80vw;
  text-align: center;
  padding: 7.5vw 19vw 0;
}

.mv7-content1 {
  position: relative;
  background-color: #cde7f5;
  border-radius: 1.5vw;
}

.image17 {
  position: absolute;
  width: 5.5vw;
  height: auto;
  top: -2.5vw;
  left: 27vw;
}

.mv7-title1 {
  margin: 0;
  padding-top: 4vw;
  color: #103b6b;
  font-size: 2.5vw;
}

.mv7-br-sp {
  display: none;
}

.mv7-blue {
  color: #008dc7;
  font-size: 3vw;
}

.mv7-container {
  width: 55vw;
  height: 33.5vw;
  align-items: center;
  margin: 0 auto;
}

.mv7-top {
  display: flex;
  justify-content: center;
  height: 15vw;
  gap: 2vw;
}

.mv7-top-box {
  position: relative;
  background-color: white;
  width: 30vw;
  margin-top: 3vw;
  border-radius: 0.5vw;
}

.mv7-bottom-box {
  position: relative;
  background-color: white;
  border-radius: 0.5vw;
  width: 25vw;
  height: 12.5vw;
  margin: 3vw auto;
}

.mv7-plan1 {
  position: absolute;
  background-color: #103b6b;
  width: 19vw;
  height: 3.5vw;
  top: -3.2vw;
  left: 3.5vw;
  color: white;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.mv7-plan2 {
  position: absolute;
  background-color: #103b6b;
  width: 19vw;
  height: 3.5vw;
  top: -3vw;
  left: 3vw;
  color: white;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.mv7-yellow {
  color: #fbe800;
}

.mv7-price {
  color: #f36a3e;
  font-size: 2.3vw;
  font-weight: bold;
  margin: 2.5vw auto 0;
}

.tax {
  color: #103b6b;
  font-size: 1vw;
  font-weight: bold;
}

.mv7-box-text {
  font-size: 1vw;
  margin: 1vw auto 0.5vw;
}

.mv7-note {
  font-size: 0.8vw;
  margin: 0;
}

.mv7-estimate {
  color: #f36a3e;
  font-size: 2vw;
  font-weight: bold;
  padding-top: 3.5vw;
  margin: 0;
}

.image18 {
  width: 6vw;
  height: auto;
  margin-top: 5.5vw;
}

.mv7-title2 {
  margin: 0;
  color: #103b6b;
  font-size: 2.5vw;
}

.mv7-content2 {
  display: flex;
  height:15vw;
  padding-top: 3vw;
  gap: 1.5vw;
}

.mv7-box2 {
  position: relative;
  width: 20vw;
  border: 0.3vw solid #103b6b;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.image19 {
  position: absolute;
  width: 4.5vw;
  height: auto;
  top: -2.5vw;
  left: 7vw;
}

.arrow-btn {
  display: none;
}

.mv7-name {
  color: #103b6b;
  font-size: 1.3vw;
  padding-top: 1.7vw;
}

.mv7-box2-text {
  text-align: left;
  font-size: 0.9vw;
  margin: 1.5vw 1vw;
  letter-spacing: 0.05vw;
  line-height: 1.5vw;
}

.mv7-red {
  color: #f36a3e;
}

/* -----------------main-visual8------------- */

.main-visual8 {
  position: relative;
  background-color: #e2f1f8;
  text-align: center;
  padding-bottom: 5vw;
  z-index: 0;
}

.main-visual8::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #cde7f5;
  clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
  z-index: -1;
}

.image20 {
  width: 5.5vw;
  height: auto;
  margin-top: 4vw;
}

.mv8-title {
  color: #103b6b;
  font-size: 3vw;
  margin: 0;
  letter-spacing: -0.1vw;
}

.mv8-blue {
  color: #008dc7;
}

.faq-container {
  width: 55vw;
  margin: 3vw auto;
  font-family: sans-serif;
}

.faq-item {
  min-height: 5vw;
  margin-bottom: 1vw;
  overflow: hidden;
  background-color: #103b6b;
}

summary {
  display: flex;
  align-items: center;
  height: 5vw;
  padding: 0 1vw;
  cursor: pointer;
  list-style: none;
}

.faq-icon {
  width: 3vw;
  height: auto;
  margin-left: 1vw;
  margin-right: 1vw;
}

.faq-text {
  flex: 1;
  text-align: left;
  font-size: 1vw;
  font-weight: bold;
  color: white;
}

.faq-toggle {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

summary .faq-toggle::before {
  content: "+";
}

details[open] summary .faq-toggle::before {
  content: "−";
}

.faq-answer {
  height: 3vw;
  padding: 1.5vw 5.5vw;
  border-top: 1px solid #ccc;
  background-color: #fff;
  font-size: 0.9vw;
  text-align: left;
}

/* -----------------メディアクエリ------------- */

@media screen and (max-width: 768px) {

  /* header */

header {
  padding: 0 3vw;
}

.title {
  font-size: 3.5vw;
}

.logo {
  width: 7vw;
}

.inquiry {
  width: 30vw;
}

.phone {
  display: none;
}

.tel {
  display: none;
}

/* main-visual1 */

.main-visual1 {
  background-image: url(img/アセット\ 21@4x.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vw;
}

.image1 {
  display: none;
}

.image2 {
  width: 105vw;
  left: -1.5vw;
  bottom: 1.1vw;
}

/* main-visual2 */

.main-visual2 {
  width: 100%;
  background-position: center bottom;
  background-size: 100% 66vw;
  background-repeat: no-repeat;
}

.image3 {
  display: none;
}

.image3-1 {
  display: block;
  width: 100%;
}

.higai {
  position: relative;
  height: 50vw;
}

.man-img {
  display: none;
}

.woman-img {
  z-index: 0;
  height: 40vw;
  bottom: 27vw;
  right: 6vw;
}

.warning {
  text-align: left;
  position: relative;
}

.mv2-text1 {
  font-size: 5vw;
  margin-left: 0;
  margin-right: auto;
}

.mv2-highlight {
  font-size: 6vw;
}

.mv2-br-sp {
  display: block;
}

.warning-icon1 {
  display: none;
}

.warning-icon2 {
  position: absolute;
  width: 6vw;
  top: 9vw;
  left: 30vw;
}

.mv2-bubble {
  position: relative;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
}

.mv2-text2 {
  font-size: 4vw;
}

.image4 {
  width: 80vw;
}

/* main-visual3 */

.image5 {
  width: 15vw;
  margin-top: 7vw;
}

.mv3-title {
  font-size: 6.5vw;
  margin-top: 3vw;
}

.mv3-br-sp{
  display: block;
}

.mv3-highlight {
  font-size: 7.5vw;
}

.mv3-figure {
  display: block;
  margin: 0 5vw;
  margin-top: 20vw;
}

.mv3-box {
  position: relative;
  height: 45vw;
  margin-bottom: 15vw;
  padding: 1.5vw 5vw;
}

.mv3-box:last-of-type {
  margin-bottom: 0;
}

.mv3-box-sp-large {
  position: relative;
  height: 55vw;
  margin-bottom: 15vw;
  padding: 1.5vw 5vw;
}

.mv3-box-image {
  position: absolute;
  width: 27vw;
  top: -10vw;
  left: 3vw;
}

.mv3-box-title {
  text-align: center;
  font-size: 5vw;
  margin-top: 3vw;
  width: 50vw;
  margin-left: auto;
  margin-right: 0;
}

.mv3-box-text {
  margin-top: 7vw;
  padding: 0 4vw;
  font-size: 4vw;
}

.mv3-box-quote {
  font-size: 3vw;
  margin-top: 2vw;
  margin-left: 5vw;
}

.image6 {
  width: 100vw;
  margin: 5vw 0;
}


/* main-visual4 */

.main-visual4 {
  background-size: 7vw 7vw;
}

.image7 {
  width: 15vw;
  margin-top: 7vw;
}

.mv4-title {
  font-size: 7vw;
  margin-top: 5vw;
}

.mv4-br-sp {
  display: block;
}

.mv4-blue {
  font-size: 8vw;
}

.mv4-container {
  display: block;
  margin: 0;
  margin-top: 1vw;
}

.mv4-box {
  width: 90%;
  height: 90vw;
  margin: 0 auto;
}

.mv4-box-image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.point {
  height: 9vw;
  top: 45%;
  left: 0;
  font-size: 4.5vw;
}

.point::after {
  bottom: -3vw;
  border-width: 3vw 0 0 3vw;
}

.large {
  font-size: 6.5vw;
  margin-left: 1vw;
}

.mv4-box-title {
  margin-left: 5vw;
  margin-top: 2.5vw;
  font-size: 6vw;
}

.mv4-box-text {
  font-size: 4vw;
  margin: 0.3vw 5vw 0;
}

.mv4-box-note {
  font-size: 3vw;
  margin-top: 1vw;
  margin-left: 5vw;
}

.image8 {
  width: 95vw;
  margin-bottom: 5vw;
}

/* main-visual5 */

.main-visual5 {
  background-size: 100% 30%;
}

.image9 {
  width: 15vw;
  margin-top: 7vw;
}

.mv5-title {
  font-size: 6.5vw;
  margin-top: 5vw;
}

.mv5-br-sp {
  display: block;
}

.mv5-blue {
  font-size: 9vw;
}

.mv5-category {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 10vw;
}

.mv5-top-category {
  width: 100%;
  height: auto;
  gap: 1.5vw;
  margin-bottom: 1.5vw;
}

.mv5-bottom-category {
  width: 67%;
  height: auto;
  margin: 0 auto;
  gap: 1.5vw;
}

.mv5-bubble {
  height: 10vw;
}

.mv5-bubble-highlight::after {
  top: 40%;
  left: 84%;
  border-width: 2.3vw 1.3vw 0 1.3vw;
  border-color: white transparent transparent transparent;
}

.mv5-bubble-title {
  font-size: 3.5vw;
  margin-top: 2vw;
}

.mv5-bubble-title1 {
  font-size: 3.5vw;
  margin-top: 0;
}

.mv5-container {
  width: 85%;
  margin: 5vw auto;
  padding: 5vw 3vw;
  border-radius: 2vw;
}

.mv5-container.active {
  display: block;
}

.mv5-container-box {
  gap: 4vw;
}

.mv5-box {
  width: 100%;
  height: 48vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.before {
  font-size: 5vw;
}

.mv5-before-text {
  padding: 2vw;
  font-size: 3.5vw;
  margin-top: 2vw;
}

.rating-average {
  bottom: 5%;
  left: 5%;
  width: 90%;
  height: 15vw;
  padding-top: 0.5vw;
  border-radius: 1vw;
}

.rating-average-title {
  font-size: 4vw;
}

.image10 {
  width: 25vw;
  margin-top: 1vw;
  margin-bottom: 0;
}

.image11 {
  width: 10vw;
  top: 30%;
  left: -15%;
}

.after {
  font-size: 5vw;
}

.dotted-box {
  gap: 2vw;
  width: 75%;
  height: 7vw;
  margin: 6vw auto 0;
}

.image12 {
  width: 4.5vw;
}

.mv5-after-text {
  font-size: 4vw;
}
 
.mv5-content {
  margin-top: 7vw;
}

.mv5-content-box {
  width: 100%;
}

.achievement-data-title {
  padding-bottom: 2vw;
  font-size: 4.5vw;
}

.achievement-data-text {
  margin: 3vw 0;
  font-size: 3vw;
  letter-spacing: 0.5vw;
  line-height: 6vw;
}

.last-year-comparison {
  font-size: 2.5vw;
}

.deleted-review-title {
  margin-top: 5vw;
  padding-bottom: 2vw;
  font-size: 4.5vw;
}

.deleted-review-box,
.deleted-review-box1 {
  gap: 2vw;
}

.image13,
.image13-1 {
  width: 8vw;
}

.deleted-review-text {
  width: 90%;
  font-size: 3.65vw;
}

.image14 {
  width: 95%;
  margin: 3vw 0;
  margin-bottom: 7vw;
}

/* main-visual6 */

.image15 {
  width: 15vw;
  margin-top: 7vw;
}

.mv6-title {
  font-size: 6vw;
  margin: 5vw 0 10vw;
}

.mv6-highlight {
  font-size: 7vw;
}

.mv6-container {
  display: block;
}

.mv6-box {
  width: 90%;
  height: 85vw;
  margin: 0 auto 7vw;
}

.mv6-arrow-right1,
.mv6-arrow-right2,
.mv6-arrow-right3 {
  display: none;
}

.mv6-arrow-right1-sp,
.mv6-arrow-right2-sp,
.mv6-arrow-right3-sp {
  display: block;
  position: absolute;
  width: 20vw;
  left: 40%;
}

.mv6-arrow-right1-sp {
  top: 23%;
}

.mv6-arrow-right2-sp {
  top: 48.5%;
}

.mv6-arrow-right3-sp {
  top: 74%;
}

.mv6-box-top {
  height: 40vw;
}

.mv6-num {
  font-size: 10vw;
  top: 0%;
  left: 3%;
}

.mv6-box-img {
  width: 80vw;
  height: 36vw;
}

.mv6-box-img1 {
  width: 45vw;
  top: 25%;
  left: 25%;
}

.mv6-box-img2 {
  width: 20vw;
  left: 42%;
}

.mv6-box-img3 {
  width: 20vw;
  top: 20%;
  left: 42%;
}

.mv6-box-img4 {
  width: 40vw;
  top: 40%;
  left: 25%;
}

.mv6-box-title {
  font-size: 6.5vw;
  margin-top: 5vw;
  margin-bottom: 3vw;
}

.mv6-box-text {
  font-size: 4.5vw;
  text-align: center;
}

.mv6-br-sp {
  display: block;
}

.mv6-box-bottom {
  width: 65%;
  height: 8vw;
  bottom: 5%;
  left: 15%;
}

.time-required {
  width: 50vw;
  font-size: 4.5vw;
}

.time {
  font-size: 4.5vw;
}

.image16 {
  width: 95%;
  margin-bottom: 10vw;
}

/* -----------------main-visual7------------- */

.main-visual7 {
  height: auto;
  padding: 20vw 0 10vw;
}

.mv7-content1 {
  width: 90%;
  border-radius: 5vw;
  margin: 0 auto;
  padding-bottom: 10vw;
}

.image17 {
  width: 15vw;
  top: -7vw;
  left: 38vw;
}

.mv7-title1 {
  font-size: 6.5vw;
  padding-top: 12vw;
}

.mv7-br-sp {
  display: block;
}

.mv7-blue {
  font-size: 9vw;
}

.mv7-container {
  width: 90%;
  height: auto;
  margin-top: 15vw;
}

.mv7-top {
  display: block;
  height: auto;
}

.mv7-top-box {
  width: 100%;
  height: 47vw;
  margin: 15vw auto 0;
  border-radius: 2vw;
}

.mv7-bottom-box {
  width: 100%;
  height: 47vw;
  margin: 15vw auto 0;
  border-radius: 2vw;
}

.mv7-plan1,
.mv7-plan2 {
  width: 72vw;
  height: 10vw;
  top: -12vw;
  font-size: 5vw;
}
.mv7-price {
  font-size: 10vw;
  padding-top: 8vw;
}

.tax {
  font-size: 4vw;
}

.mv7-box-text {
  font-size: 4vw;
  margin: 5vw auto 2vw;
}

.mv7-note {
  font-size: 3vw;
}

.mv7-estimate {
  font-size: 8vw;
  padding-top: 8vw;
}

.image18 {
  width: 15vw;
  margin-top: 7.5vw;
}

.mv7-title2 {
  margin-top: 5vw;
  font-size: 6.5vw;
}

.mv7-content2 {
  flex-direction: column;
  align-items: center;
  height: auto;
  position: relative;
}

.mv7-box2 {
  width: 90%;
  height: 60vw;
  margin-top: 15vw;
  border: 0.7vw solid #103b6b;
  display: none;
  box-shadow: 10px 10px 3px rgba(40, 47, 74, 0.837);
}

.mv7-box2.active {
  display: block;
}

.arrow-btn {
  position: absolute;
  display: block;
  top: 37%;
  width: 7vw;
  height: 7vw;  
  background: transparent;
  border-style: none;
  cursor: pointer;
  z-index: 1;
}

.arrow-btn::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow-btn:hover {
  filter: brightness(1.2);
}

.arrow-left {
  left: 9%;
}

.arrow-left::before {
  border-width: 2.5vw 4vw 2.5vw 0;
  border-color: transparent #103b6b transparent transparent;
}

.arrow-right {
  right: 9%;
}

.arrow-right::before {
  border-width: 2.5vw 0 2.5vw 4vw;
  border-color: transparent transparent transparent #103b6b;
}

.image19 {
  width: 20vw;
  top: -10vw;
  left: 34vw;
}

.mv7-name {
  text-align: center;
  font-size: 6vw;
  padding-top: 6.5vw;
}

.mv7-box2-text {
  font-size: 4vw;
  padding: 0 7vw;
  line-height: 7vw;
}

.indicator-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 5vw;
}

  .indicator-dot {
  width: 2.5vw;
  height: 2.5vw;
  background-color: #a0b4cc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.indicator-dot.active {
  background-color: #103b6b;
}

}