body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* -------------------header------------------ */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  max-width: 80vw;
  color: #103b6b;
}

.logo {
  width: 4vw;
  height: auto;
}

.contact {
  display: flex;
  align-items: center;
}

.inquiry {
  width: 15vw;
  height: auto;
  margin-top: 5px;
}

.phone {
  width: 2vw;
  height: auto;
  margin-left: 10px;
}

.tel {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: #103b6b;
  margin-left: 5px;
}

/* ------------------main-------------------- */

main {
  background-color: blue;
  height: 6000px;
}

/* -----------------main-visual1------------- */

.main-visual1 {
  position: relative;
  background-color: red;
  width: 100%;
  aspect-ratio: 1906.4/804.68;
}

.image1 {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image2 {
  position: absolute;
  width: 28vw;
  left: 34%;
  bottom: 2%;
}

/* -----------------main-visual2------------- */

.main-visual2 {
  position: relative;
  background-color: green;
  background-image: url(img/アセット\ 542.png);
  width: 100%;
}

.image3 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.higai {
  /* background-color: red; */
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.man-img {
  position: absolute;
  width: 15vw;
  height: auto;
  bottom: 0;
  left: 14%;
}

.woman-img {
  position: absolute;
  height: 18vw;
  bottom: 0;
  right: 15%;
}

.main-visual2-text {
  /* background-color: blue; */
  display: grid;
  place-items: center;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.mv2-text1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 2vw;
  margin: 0;
}

.yellow {
  color: #fbe800;
}

.mv2-highlight {
  color: #fbe800;
  font-weight: bold;
  font-size: 3vw;
}

.char {
  position: relative;
  display: inline-block;
  color: #fbe800;
  font-weight: bold;
}

.char::before {
  content: "・";
  position: absolute;
  top: -0.8em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7em;
}

.warning-icon {
  width: 3vw;
  height: auto;
  vertical-align: middle;
  margin-top: 5px;
}

.mv2-bubble {
  width: 37vw;
  max-width: 90%;
  background-color: #ffffff;
  padding: 5px 25px;
  font-weight: bold;
  text-align: center;
  margin: 0, auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.mv2-bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.mv2-text2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  color: #103b6b;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.image4 {
  width: 30vw;
  height: auto;
}

/* -----------------main-visual3------------- */

.main-visual3 {
  /* background-color: brown; */
  width: 100%;
  background-image: url(img/アセット\ 539.png);
  background-size: cover;
  text-align: center;
}

.image5 {
  width: 6vw;
  height: auto;
  margin-top: 5vw;
}

.mv3-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #103b6b;
  font-size: 2.5vw;
  margin-top: 0.1vw;
}

.mv3-highlight {
  font-size: 3vw;
  color: #3698d0;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #3698d0;
  text-underline-offset: 0.2em;
}

.mv3-figure {
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  gap: 1.0vw;
  margin: 0 19vw;
  margin-top: 3vw;
}

.mv3-box {
  background-color: white;
  padding: 1.5vw 1vw;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  flex: 1 1 calc(25% - 15px);
  box-sizing: border-box;
}

.mv3-box-image {
  width: 8vw;
  height: auto;
}

.mv3-box-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 1.0vw;
  color: #103b6b;
  margin-bottom: 0;
  position: relative;
  margin-top: 1.7vw;
  border-bottom: 0.2vw solid #103b6b;
  padding-bottom: 0.5vw;
}

.mv3-box-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 0.8vw;
  text-align: left;
  margin-bottom: 0.1vw;
}

.mv3-blue {
  color: #3698d0;
}

.mv3-box-quote {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 0.7vw;
  margin-top: 0;
  text-align: left;
}

.image6 {
  width: 30vw;
  height: auto;
  margin: 2.5vw 0;
}

/* -----------------main-visual4------------- */

.main-visual4 {
  text-align: center;
  background-color: white;
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 1.5vw 1.5vw;
}

.image7 {
  width: 6vw;
  height: auto;
  margin-top: 3.5vw;
  margin-bottom: 0;
}

.mv4-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  color: #103b6b;
  margin-top: 0;
}

.mv4-blue {
  font-size: 3vw;
  color: #3698d0;
}

.mv4-container {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  margin: 1vw 15vw 0;
}

.mv4-box {
  /* background-color: blue; */
  text-align: left;
  position: relative;
  width: calc(50% - 20px);
  height: 27vw;
  box-sizing: border-box;
}

.mv4-box:nth-child(2),
.mv4-box:nth-child(4) {
  margin-top: 5vw;
}

.mv4-box-image {
  width: 30vw;
  height: auto;
}

.point {
  position: absolute;
  top: 51%;
  left: 8%;
  display: inline-block;
  padding: 0 0.5vw;
  border: 0.1vw solid #103b6b;
  border-radius: 4px;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: white;
  color: #103b6b;
}

.point::after {
  content: "";
  position: absolute;
  bottom: -0.7vw;
  left: 1vw;
  width: 0;
  height: 0;
  border-width: 0.7vw 0 0 0.7vw;
  border-style: solid;
  border-color: #103b6b transparent transparent transparent;
}

.large {
  font-size: 2.5vw;
  margin-left: 0.5vw;
}

.mv4-box-title {
  text-align: left;
  margin-left: 3.5vw;
  margin-top: 1vw;
  margin-bottom: 0;
  color: #103b6b;
  font-size: 1.8vw;
  font-weight: bold;
}

.mv4-box-text {
  font-size: 0.9vw;
  text-align: left;
  margin: 0.3vw 3.5vw 0;
}

.mv4-red {
  color: #f3531e;
}

.mv4-box-note {
  font-size: 0.7vw;
  text-align: left;
  margin-top: 0;
  margin-left: 3.5vw;
}

.image8 {
  width: 30vw;
  height: auto;
  margin: 2vw 0;
}

/* -----------------main-visual5------------- */

.main-visual5 {
  text-align: center;
  background-color: #cde7f5;
  background-image:url('img/アセット\ 500.png');
  background-size: 100% 100%
}

.image9 {
  width: 5.5vw;
  height: auto;
  margin-top: 5%;
}

.mv5-title {
  color: #103b6b;
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 0;
}

.mv5-blue {
  font-size: 3.5vw;
  color: #3698d0;
}

.mv5-category {
  display: flex;
  gap: 0.3vw;
  margin: 0 18.5vw;
}

.mv5-bubble {
  width: 55vw;
  max-width: 90%;
  background-color: white;
  padding: 1vw 0;
  font-weight: bold;
  text-align: center;
  margin: 0, auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mv5-bubble-highlight {
  width: 55vw;
  max-width: 90%;
  background-color: #103b6b;
  color: white;
  padding: 1vw 0;
  font-weight: bold;
  text-align: center;
  margin: 0, auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.mv5-bubble-highlight::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.8vw 0.5vw 0 0.5vw;
  border-style: solid;
  border-color: #103b6b transparent transparent transparent;
}

.mv5-bubble-title {
  color: #103b6b;
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.mv5-white {
  color: white;
}

.mv5-container {
  display: flex;
  display: none; /*追加*/
  position: relative;
  background-color: white;
  margin: 2.5vw 18.5vw;
  padding: 3vw 2.5vw;
  border-radius: 0.8vw;
  gap: 1.5vw;
}

.mv5-container.active { /*追加*/
  display: flex;
}

.mv5-box {
  position: relative;
  background-color: #f0f0f0;
  width: 13.5vw;
  height: 17.5vw;
  border-bottom-left-radius: 0.6vw;
  border-bottom-right-radius: 0.6vw;
}

.before {
  color: white;
  background-color: #2d2d35;
  margin: 0;
  padding: 0.2vw 0;
  font-weight: bold;
  font-size: 1.7vw;
}

.mv5-before-text {
  color: #103b6b;
  padding: 0.7vw 1vw;
  text-align: left;
  font-size: 0.9vw;
  font-weight: bold;
  margin-bottom: 2.3vw;
}

.rating-average {
  position: absolute;
  bottom: 10%;
  left: 6%;
  width: 12vw;
  height: 5vw;
  background-color: white;
  padding-top: 1vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 0.4vw;
}

.rating-average-title {
  color: #103b6b;
  font-size: 1vw;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.4vw;
}

.image10 {
  width: 8vw;
  height: auto;
  margin-bottom: 0.4vw;
}

.image11 {
  position: absolute;
  width: 4.5vw;
  height: auto;
  top: 35%;
  left: -23%;
}

.after {
  color: white;
  background-color: #008dc7;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 1.7vw;
}

.dotted-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 9.5vw;
  height: 3vw;
  justify-content: center;
  margin: 2vw auto 0;
  background-image: repeating-linear-gradient(90deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw), repeating-linear-gradient(180deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw), repeating-linear-gradient(90deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw), repeating-linear-gradient(180deg, #000000, #000000 0.3vw, transparent 0.3vw, transparent 1vw);
  background-position: left top, right top, left bottom, left top;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
}

.image12 {
  width: 1.4vw;
  height: auto;
}

.mv5-after-text {
  color: #103b6b;
  font-size: 1vw;
  font-weight: bold;
}
 
.mv5-content {
  /* background-color: blue; */
  margin: 0;
  text-align: left;
}

.mv5-content-box {
  /* background-color: red; */
  width: 25vw;
}

.achievement-data-title {
  margin: 0;
  padding-bottom: 0.2vw;
  color: #103b6b;
  font-size: 1.3vw;
  font-weight: bold;
  border-bottom: 1px solid #103b6b;
  text-indent: 1vw;
  letter-spacing: 0.1em;
}

.achievement-data-text {
  margin: 0.5vw 0;
  font-size: 0.9vw;
}

.last-year-comparison {
  margin: 0;
  font-size: 0.6vw;
}

.deleted-review-title {
  margin-top: 1.5vw;
  margin-bottom: 0;
  padding-bottom: 0.2vw;
  color: #103b6b;
  font-size: 1.3vw;
  font-weight: bold;
  border-bottom: 1px solid #103b6b;
  text-indent: 1vw;
  letter-spacing: 0.1em;
}

.deleted-review-box {
  /* background-color: green; */
  display: flex;
  align-items: center;
  gap: 0.2vw;
  margin-bottom: 0.5vw;
  padding-bottom: 0;
}

.image13 {
  width: 1.3vw;
  margin-top: 0.8vw;
}

.deleted-review-text {
  font-size: 0.8vw;
  margin-bottom: 0;
}

.image14 {
  width: 30vw;
  height: auto;
  margin: 0;
  margin-bottom: 2vw;
}

/* -----------------main-visual6------------- */

.main-visual6 {
  background-color: #3c82cf;
  background-image: url(img/アセット\ 7@4x.png);
  background-size: cover;
  background-position: center -15vw;
  background-repeat: no-repeat;
  text-align: center;
}

.image15 {
  width: 5.5vw;
  margin-top: 5vw;
}

.mv6-title {
  color: white;
  font-size: 2.5vw;
  margin: 0;
  margin-bottom: 2vw;
}

.mv6-highlight {
  color: #fbe800;
  font-size: 3.5vw;
}

.mv6-yellow {
  color: #fbe800;
}

.mv6-container {
  display: flex;
  margin: 0 auto;
  gap: 1vw;
  justify-content: center;
}

.mv6-box {
  position: relative;
  background-color: white;
  width: 14vw;
  height: 22vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mv6-box-top {
  position: relative;
  width: 100%;
  height: 10vw;
  margin: 0;
}

.mv6-num {
  position: absolute;
  color: #103b6b;
  font-size: 2.5vw;
  margin: 0;
  top: -5%;
  left: 5%;
}

.mv6-box-img {
  position: absolute;
  width: 13vw;
  height: 9vw;
  top: 10%;
  right: 4%;
  z-index: 5;
}

.mv6-box-img1 {
  position: absolute;
  width: 9vw;
  top: 35%;
  left: 20%;
  z-index: 10;
}

.mv6-box-img2 {
  position: absolute;
  width: 4.5vw;
  top: 25%;
  left: 40%;
  z-index: 10;
}

.mv6-box-img3 {
  position: absolute;
  width: 5vw;
  height: auto;
  top: 15%;
  left: 40%;
  z-index: 10;
}

.mv6-box-img4 {
  position: absolute;
  width: 9vw;
  height: auto;
  top: 35%;
  left: 20%;
  z-index: 10;
}

.mv6-box-title {
  color: #103b6b;
  font-size: 1.3vw;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
}

.mv6-box-text {
  font-size: 1vw;
  margin: 0 1.5vw;
  text-align: left;
}

.mv6-box-bottom {
  position: absolute;
  display: flex;
  width: 80%;
  height: 2vw;
  bottom: 3%;
  left: 10%;
}

.time-required {
  background-color: #103b6b;
  color: white;
  width: 8vw;
  font-size: 0.8vw;
  margin: 0;
  padding: 0.3vw;
}

.time {
  background-color: #cde7f5;
  width: 100%;
  font-size: 0.8vw;
  margin: 0;
  padding: 0.3vw;
}

.image16 {
  width: 25vw;
  margin: 2vw auto;
}

/* -----------------main-visual7------------- */

.main-visual7 {
  background-color: white;
  background-image: url(img/アセット\ 6@4x.png);
  background-size: 100vw auto;
  background-position: center 45vw;
  background-repeat: no-repeat;
  height: 80vw;
  text-align: center;
  padding: 7.5vw 19vw 0;
}

.mv7-content1 {
  position: relative;
  background-color: #cde7f5;
  border-radius: 1.5vw;
}

.image17 {
  position: absolute;
  width: 5.5vw;
  height: auto;
  top: -2.5vw;
  left: 27vw;
}

.mv7-title1 {
  margin: 0;
  padding-top: 4vw;
  color: #103b6b;
  font-size: 2.5vw;
}

.mv7-blue {
  color: #008dc7;
  font-size: 3vw;
}

.mv7-container {
  width: 55vw;
  height: 33.5vw;
  align-items: center;
  margin: 0 auto;
}

.mv7-top {
  display: flex;
  justify-content: center;
  height: 15vw;
  gap: 2vw;
}

.mv7-top-box {
  position: relative;
  background-color: white;
  width: 30vw;
  margin-top: 3vw;
  border-radius: 0.5vw;
}

.mv7-bottom-box {
  position: relative;
  background-color: white;
  border-radius: 0.5vw;
  width: 25vw;
  height: 12.5vw;
  margin: 3vw auto;
}

.mv7-plan1 {
  position: absolute;
  background-color: #103b6b;
  width: 19vw;
  height: 3.5vw;
  top: -3.2vw;
  left: 3.5vw;
  color: white;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.mv7-plan2 {
  position: absolute;
  background-color: #103b6b;
  width: 19vw;
  height: 3.5vw;
  top: -3vw;
  left: 3vw;
  color: white;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.mv7-yellow {
  color: #fbe800;
}

.mv7-price {
  color: #f36a3e;
  font-size: 2.3vw;
  font-weight: bold;
  margin: 2.5vw auto 0;
}

.tax {
  color: #103b6b;
  font-size: 1vw;
  font-weight: bold;
}

.mv7-box-text {
  font-size: 1vw;
  margin: 1vw auto 0.5vw;
}

.mv7-note {
  font-size: 0.8vw;
  margin: 0;
}

.mv7-estimate {
  color: #f36a3e;
  font-size: 2vw;
  font-weight: bold;
  padding-top: 3.5vw;
  margin: 0;
}

.image18 {
  width: 6vw;
  height: auto;
  margin-top: 5.5vw;
}

.mv7-title2 {
  margin: 0;
  color: #103b6b;
  font-size: 2.5vw;
}

.mv7-content2 {
  display: flex;
  height:15vw;
  padding-top: 3vw;
  gap: 1.5vw;
}

.mv7-box2 {
  position: relative;
  width: 20vw;
  border: 0.3vw solid #103b6b;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.image19 {
  position: absolute;
  width: 4.5vw;
  height: auto;
  top: -2.5vw;
  left: 7vw;
}

.mv7-name {
  color: #103b6b;
  font-size: 1.3vw;
  padding-top: 1.7vw;
}

.mv7-box2-text {
  text-align: left;
  font-size: 0.9vw;
  margin: 1.5vw 1vw;
  letter-spacing: 0.05vw;
  line-height: 1.5vw;
}

.mv7-red {
  color: #f36a3e;
}

/* -----------------main-visual8------------- */

.main-visual8 {
  position: relative;
  background-color: #e2f1f8;
  text-align: center;
  height: 55vw;
  z-index: 0;
}

.main-visual8::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #cde7f5;
  clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
  z-index: -1;
}

.image20 {
  width: 5.5vw;
  height: auto;
  margin-top: 4vw;
}

.mv8-title {
  color: #103b6b;
  font-size: 3vw;
  margin: 0;
  letter-spacing: -0.1vw;
}

.mv8-blue {
  color: #008dc7;
}

.faq-container {
  /* background-color: red; */
  width: 55vw;
  margin: 3vw auto;
  font-family: sans-serif;
}

.faq-item {
  /* height: 6vw; */
  margin-bottom: 1vw;
  overflow: hidden;
  background-color: #103b6b;
}

summary {
  display: flex;
  align-items: center;
  padding: 0 1vw;
  cursor: pointer;
  list-style: none;
}

.faq-icon {
  width: 3vw;
  height: auto;
  margin-left: 1vw;
  margin-right: 1vw;
}

.faq-text {
  flex: 1;
  text-align: left;
  font-size: 1vw;
  font-weight: bold;
  color: white;
}

.faq-toggle {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

summary .faq-toggle::before {
  content: "+";
}

details[open] summary .faq-toggle::before {
  content: "−";
}

.faq-answer {
  padding: 1.5vw 5.5vw;
  border-top: 1px solid #ccc;
  background-color: #fff;
  font-size: 0.9vw;
  text-align: left;
}
